/target/ 
/.settings/ 
/*.project



/db-media/target/
/db-media/.settings/
/db-media/.project 
/db-media/.classpath


/media-web/target/
/media-web/.settings/
/media-web/.project 
/media-web/.classpath












